   

section{
    margin-top: 200px;
}
h1{
    color: #fff;
}
h2{
    color: #fff;
    width: 65%;
    max-width: 2000px;
    margin: auto;
    margin-bottom: 30px;
}
    .content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 17px;
  min-width: 200px;
  width: 65%;
  max-width: 2000px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-bottom: 50px;
}
ul{
    list-style: circle;
    margin-left: 20px;
}
ul li{
    margin-bottom: 7px;
}
.content-table thead tr {
  background-color: purple;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid purple;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #000;
}
.content-table tbody tr:nth-of-type(odd) {
  background-color: #252525;
  color: #fff;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid purple;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: purple;
}